- model_class = Asignatura
.page-header
%h3.text-primary.text-center
	=t '.title', default: [:'helpers.titles.new', 'new %{model}'], model: model_class.model_name.human.titleize
= render partial: "form"
