%h1 Encuestas#index
%p Find me in app/views/encuestas/index.html.haml

%a#WebLinkDescLink{href: "https://es.surveymonkey.com/s/TD22RL3", target: "_blank"} Haga clic aquí para completar la evaluacion al docente.
